html{scroll-behavior:smooth;font-family: 'PT Sans Narrow', sans-serif;}
body{max-width: 100%;margin: 0;font-family: 'Roboto Condensed', sans-serif;background-color: #ffc34d}


.container-fluid{width: 100%;}
.index-section1{width: 100%;background-image: url(img/fondo2.png);background-size: 100%;height: 100%;}
.navbar{width: 100%;padding-top: 1.5%;}
.container-navbar-izq{margin-left: 5%;}
.container-navbar-izq img{width: 15%;}
.container-navbar-der{margin-right: 5%;}
.container-navbar-der a{text-decoration: none;color: black;}
.btn-warning-sesion{background-color: #ffc24c;}
.btn-warning-sesion:hover{transform: scale(0.9);}
.index-section1 h4{margin-top: 8%;text-align: center;color: white;font-weight: 700;font-size: 290%;width: 50%;margin-left: 25%;}
.index-section1 h5{text-align: center;color: white;font-weight: 500;font-size: 160%;}
.index-section1 p{margin-top: 2.5%;text-align: center;color: white;font-weight: 500;font-size: 120%;}
.index-section1-forms{width: 70%;display: flex;margin-left: 27%;padding-bottom: 8.4%;}
.index-section1-forms-izq{width: 55%;flex-flow: wrap;}
.form-control{border-radius: 0%;}
.index-section1-forms-der{width: 30;}
.btn-indexform{border-radius: 0%;background-color: #ffc24c;padding: 14.5%;width: 180%;}
.btn-indexform a{text-decoration: none;color: black;}
.btn-indexform:hover{transform: scale(0.9);}
.index-section2{width: 100%;background-color: black;}
.index-section2-card{width: 100%;background-color: black;display: flex;margin-top: 0.6%;;}
.index-section2-card1-izq{flex-flow: wrap;width: 60%;padding: 12%;}
.index-section2-card1-izq h3{color: white;font-size: 315%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: -9%;}
.index-section2-card1-izq h5{color: white;font-size: 160%;font-weight: 300;margin-left: -9%;}
.index-section2-card1-der{width: 40%;}
.index-section2-card1-der img{width: 100%;margin-top: 17%;margin-left: -15%;}
.index-section2-card2-izq{width: 40%;flex-flow: wrap;}
.index-section2-card2-izq img{width: 100%;margin-top: 4%;margin-left: 3%;margin-bottom: -5%;}
.index-section2-card2-der{width: 60%;padding: 12%;}
.index-section2-card2-der h3{color: white;font-size: 310%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: -4%;}
.index-section2-card2-der h5{color: white;font-size: 160%;font-weight: 300;margin-left: -4%;margin-bottom: -5%;}
.index-section2-card3-izq{flex-flow: wrap;width: 70%;padding: 12%;}
.index-section2-card3-izq h3{color: white;font-size: 315%;font-weight: 700;margin-bottom: 4%;margin-top: 3%;margin-left: -9%;}
.index-section2-card3-izq h5{color: white;font-size: 160%;font-weight: 300;margin-left: -9%;}
.index-section2-card3-der{width: 40%;}
.index-section2-card3-der img{width: 120%;margin-top: 6%;margin-left: -30%;margin-bottom: 6%;}
.index-section2-card4-izq{width: 40%;flex-flow: wrap;}
.index-section2-card4-izq img{width: 95%;margin-top: 7%;margin-left: 19%;margin-bottom: -5%;}
.index-section2-card4-der{width: 60%;padding: 12%;}
.index-section2-card4-der h3{color: white;font-size: 310%;font-weight: 700;margin-bottom: 4%;margin-top: -10%;margin-left: -4%;}
.index-section2-card4-der h5{color: white;font-size: 140%;font-weight: 300;margin-left: -4%;margin-bottom: -5%;}
.index-section2-card5{width: 100%;background-color: black;margin-top: 0.6%;text-align: center;padding: 5%;margin-bottom: 0.6%;}
.index-section2-card5 h4{color: white;font-size: 310%;font-weight: 700;margin-bottom: 4%;}
.acordeon-preguntas{width: 70%;margin-left: 15%;}
.accordion-item{background-color: rgb(51, 51, 51);color: white;}

.site-footer{background-color: black;color: white;}
.site-footer p{margin-top: 1%;margin-bottom: 0.5%;font-size: 105%;}

.iniciosesion1{width: 100%;background-image: url(img/fondo3.png);background-size: 100%;height: 100%;}
.iniciosesion{width: 40%;background-color: rgba(0, 0, 0, 0.651);margin-left: 30%;padding-bottom: 2.5%;}
.iniciosesion h3{color: white;font-size: 220%;font-weight: 700;margin-bottom: 4%;padding-top: 15%;text-align: center;}
.iniciosesion-form{width: 70%;margin-left: 15%;}
.form-iniciosesion{margin-top: 5%;margin-bottom: 3%;border-radius: 2.5px;}
.form-iniciosesion-btn{width: 100%;padding: 3%;margin-top: 10%;}
.form-iniciosesion-btn a{text-decoration: none;color: black;font-weight: 500;}
.iniciosesion-container{width: 100%;display: flex;margin-top: 5%;padding-bottom: 15%;}
.iniciosesion-form-izq{flex-flow: wrap;width: 50%;}
.iniciosesion-form-izq p{color: white;margin-top: -0.5%;font-size: 90%;}
.iniciosesion-form-der{width: 50%;text-align: end;}
.iniciosesion-form-der a{text-decoration: none;color: white;font-size: 90%;}
.iniciosesion-suscribirse{width: 100%;text-align: center;}
.iniciosesion-suscribirse h4{color: rgb(101, 101, 101);margin-top: -0.5%;font-size: 110%;}
.iniciosesion-suscribirse a{text-decoration: none;color: white;font-size: 110%;}



.body-usuarios{background-color: black;}
.usuarios{width: 100%;height: 100%;background-color: black;}
.usuarios1{width: 100%;text-align: center;}
.usuarios1 h4{color: white;font-size: 290%;font-weight: 500;margin-top: 2.5%;}
.usuarios-contenedor{width: 75%;display: flex;margin-left: 25%;margin-top: 2.5%;margin-bottom: 2.5%;}
.usuario{flex-flow: wrap;padding: 2%;}
.usuario img{width: 100%;border-radius: 5px;}
.usuario a{text-decoration: none;color: #808080;font-weight: 500;padding-top: 1%;}
.usuario p{font-weight: 600;padding-top: 12%;}
.usuario-1:hover p{color: white;}
.usuario-2:hover p{color: white;}
.usuario-3:hover p{color: white;}
.usuario-4:hover p{color: white;}
.usuario-4:hover img{background-color: rgba(255, 255, 255, 0.795);}
.adminperfiles{width: 100%;text-align: center;padding-bottom: 9.5%;}
.btn-adminperfiles{border-radius: 0px;width: 15%;}
.btn-adminperfiles a{text-decoration: none;color: #808080;}
.btn-adminperfiles p{font-weight: 600;margin-top: 1%;margin-bottom: -1%;}
.btn-adminperfiles:hover a{background-color: #80808000;border-color: white;color: white;}



.header-usuario{width: 100%;background-color: black;}
.navbar-usuario-img{width: 100%;display: flex;}
.navbar-usuario-img img{width: 10%;margin-top: -2.5%;margin-left: 5%;}

.navbar-usuarios{flex-flow: wrap;width: 100%;}
.navbar-usuarios-apartados{flex-flow: wrap;}





/* dispositivo mediano */
@media(min-width: 580px) and (max-width: 989px){

    .container-fluid{width: 100%;}
    .index-section1{max-width: 100%;background-image: url(img/fondocelu.png);background-size: 100%;height: auto;margin-left: 0%;}
    .navbar{width: 100%;padding-top: 1.5%;}
    .container-navbar-izq{margin-left: none;width: 15%;margin-top: 4.5%;}
    .container-navbar-izq img{width: 110%;margin: none;}
    .container-navbar-der{margin-right: none;width: 75%;}
    .container-navbar-der a{text-decoration: none;color: black;}
    .btn-warning-sesion{margin-left: 40%;font-size: 90%;font-weight: 700;margin-top: 7.5%;}
    .btn-warning-sesion:hover{transform: scale(0.9);}
    .index-section1 h4{text-align: center;color: white;font-weight: 700;font-size: 225%;width: 100%;margin-left: 0%;margin-top: 30%;}
    .index-section1 h5{text-align: center;color: white;font-weight: 500;font-size: 110%;margin-top: 8%;}
    .index-section1 p{margin-top: 15%;text-align: center;color: white;font-weight: 500;font-size: 110%;}
    .index-section1-forms{width: 100%;display: block;margin-left: 0%;padding-bottom: 8.4%;}
    .index-section1-forms-izq{width: 100%;}
    .form-control{border-radius: 0%;}
    .index-section1-forms-der{width: 100%;margin-left: 0%;}
    .btn-indexform{border-radius: 0%;background-color: #ffc24c;padding: 5%;width: 99%;margin-top: 7.5%;}
    .btn-indexform a{text-decoration: none;color: black;}
    .btn-indexform:hover{transform: scale(0.9);}
    .index-section2{width: 100%;background-color: black;}
    .index-section2-card{width: 100%;background-color: black;display: block;margin-top: 0.6%;}
    .index-section2-card1-izq{width: 100%;padding: 12%;}
    .index-section2-card1-izq h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: 0%;text-align: center;}
    .index-section2-card1-izq h5{color: white;font-size: 110%;font-weight: 300;margin-left: 0%;text-align: center;}
    .index-section2-card1-der{width: 100%;}
    .index-section2-card1-der img{width: 100%;margin-top: 0%;margin-left: 0%;}
    .index-section2-card2-izq{width: 100%;}
    .index-section2-card2-izq img{width: 100%;margin-top: 4%;margin-left: 3%;margin-bottom: -5%;}
    .index-section2-card2-der{width: 100%;padding: 12%;}
    .index-section2-card2-der h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: 0%;}
    .index-section2-card2-der h5{color: white;font-size: 110%;font-weight: 300;margin-left: 0%;margin-bottom: -5%;}
    .index-section2-card3-izq{width: 100%;padding: 12%;}
    .index-section2-card3-izq h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: 0%;text-align: center;}
    .index-section2-card3-izq h5{color: white;font-size: 110%;font-weight: 300;margin-left: 0%;text-align: center;}
    .index-section2-card3-der{width: 100%;}
    .index-section2-card3-der img{width: 100%;margin-top: 0%;margin-left: 0%;}
    .index-section2-card4-izq{width: 100%;}
    .index-section2-card4-izq img{width: 95%;margin-top: 7%;margin-left: 0%;margin-bottom: -5%;}
    .index-section2-card4-der{width: 100%;padding: 12%;}
    .index-section2-card4-der h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -10%;margin-left: 0%;text-align: center;}
    .index-section2-card4-der h5{color: white;font-size: 110%;font-weight: 300;margin-left:0%;margin-bottom: -5%;text-align: center;}
    .index-section2-card5{width: 100%;background-color: black;margin-top: 0.6%;text-align: center;padding: 5%;padding-bottom: 5%;}
    .index-section2-card5 h4{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;text-align: center;}
    .acordeon-preguntas{width: 95%;margin-left: 0%;}
    .accordion-item{background-color: rgb(51, 51, 51);color: white;}    


    .iniciosesion1{width: 100%;background-image: url(img/fondocelu.png);background-size: 100%;height: auto;}
    .iniciosesion{width: 85%;background-color: rgba(0, 0, 0, 0.651);margin-left: 7.5%;padding-bottom: 2.5%;margin-top: 20%;}
    .iniciosesion h3{color: white;font-size: 220%;font-weight: 700;margin-bottom: 10%;padding-top: 15%;text-align: center;}
    .iniciosesion-form{width: 85%;margin-left: 10%;}
    .form-iniciosesion{margin-top: 5%;margin-bottom: 3%;border-radius: 2.5px;}
    .form-iniciosesion-btn{width: 100%;padding: 3%;margin-top: 10%;}
    .form-iniciosesion-btn a{text-decoration: none;color: black;font-weight: 500;}
    .iniciosesion-container{width: 100%;display: flex;margin-top: 5%;padding-bottom: 15%;}
    .iniciosesion-form-izq{flex-flow: wrap;width: 50%;}
    .iniciosesion-form-izq p{color: white;margin-top: -0.5%;font-size: 90%;}
    .iniciosesion-form-der{width: 50%;text-align: end;}
    .iniciosesion-form-der a{text-decoration: none;color: white;font-size: 90%;}
    .iniciosesion-suscribirse{width: 100%;text-align: center;padding-bottom: 5%;}
    .iniciosesion-suscribirse h4{color: rgb(101, 101, 101);margin-top: -0.5%;font-size: 110%;}
    .iniciosesion-suscribirse a{text-decoration: none;color: white;font-size: 110%;}


}



/* dispositivo pequeño */
@media(max-width: 579px){

    .container-fluid{width: 100%;}
    .index-section1{max-width: 100%;background-image: url(img/fondocelu.png);background-size: 100%;height: auto;margin-left: 0%;}
    .navbar{width: 100%;padding-top: 1.5%;}
    .container-navbar-izq{margin-left: none;width: 15%;margin-top: 4.5%;}
    .container-navbar-izq img{width: 110%;margin: none;}
    .container-navbar-der{margin-right: none;width: 75%;}
    .container-navbar-der a{text-decoration: none;color: black;}
    .btn-warning-sesion{margin-left: 40%;font-size: 90%;font-weight: 700;margin-top: 7.5%;}
    .btn-warning-sesion:hover{transform: scale(0.9);}
    .index-section1 h4{text-align: center;color: white;font-weight: 700;font-size: 225%;width: 100%;margin-left: 0%;margin-top: 30%;}
    .index-section1 h5{text-align: center;color: white;font-weight: 500;font-size: 110%;margin-top: 8%;}
    .index-section1 p{margin-top: 15%;text-align: center;color: white;font-weight: 500;font-size: 110%;}
    .index-section1-forms{width: 100%;display: block;margin-left: 0%;padding-bottom: 8.4%;}
    .index-section1-forms-izq{width: 100%;}
    .form-control{border-radius: 0%;}
    .index-section1-forms-der{width: 100%;margin-left: 0%;}
    .btn-indexform{border-radius: 0%;background-color: #ffc24c;padding: 5%;width: 99%;margin-top: 7.5%;}
    .btn-indexform a{text-decoration: none;color: black;}
    .btn-indexform:hover{transform: scale(0.9);}
    .index-section2{width: 100%;background-color: black;}
    .index-section2-card{width: 100%;background-color: black;display: block;margin-top: 0.6%;}
    .index-section2-card1-izq{width: 100%;padding: 12%;}
    .index-section2-card1-izq h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: 0%;text-align: center;}
    .index-section2-card1-izq h5{color: white;font-size: 110%;font-weight: 300;margin-left: 0%;text-align: center;}
    .index-section2-card1-der{width: 100%;}
    .index-section2-card1-der img{width: 100%;margin-top: 0%;margin-left: 0%;}
    .index-section2-card2-izq{width: 100%;}
    .index-section2-card2-izq img{width: 100%;margin-top: 4%;margin-left: 3%;margin-bottom: -5%;}
    .index-section2-card2-der{width: 100%;padding: 12%;}
    .index-section2-card2-der h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: 0%;}
    .index-section2-card2-der h5{color: white;font-size: 110%;font-weight: 300;margin-left: 0%;margin-bottom: -5%;}
    .index-section2-card3-izq{width: 100%;padding: 12%;}
    .index-section2-card3-izq h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -5%;margin-left: 0%;text-align: center;}
    .index-section2-card3-izq h5{color: white;font-size: 110%;font-weight: 300;margin-left: 0%;text-align: center;}
    .index-section2-card3-der{width: 100%;}
    .index-section2-card3-der img{width: 100%;margin-top: 0%;margin-left: 0%;}
    .index-section2-card4-izq{width: 100%;}
    .index-section2-card4-izq img{width: 95%;margin-top: 7%;margin-left: 0%;margin-bottom: -5%;}
    .index-section2-card4-der{width: 100%;padding: 12%;}
    .index-section2-card4-der h3{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;margin-top: -10%;margin-left: 0%;text-align: center;}
    .index-section2-card4-der h5{color: white;font-size: 110%;font-weight: 300;margin-left:0%;margin-bottom: -5%;text-align: center;}
    .index-section2-card5{width: 100%;background-color: black;margin-top: 0.6%;text-align: center;padding: 5%;padding-bottom: 5%;}
    .index-section2-card5 h4{color: white;font-size: 225%;font-weight: 700;margin-bottom: 4%;text-align: center;}
    .acordeon-preguntas{width: 95%;margin-left: 0%;}
    .accordion-item{background-color: rgb(51, 51, 51);color: white;}


    .iniciosesion1{width: 100%;background-image: url(img/fondocelu.png);background-size: 100%;height: auto;}
    .iniciosesion{width: 85%;background-color: rgba(0, 0, 0, 0.651);margin-left: 7.5%;padding-bottom: 2.5%;margin-top: 20%;}
    .iniciosesion h3{color: white;font-size: 220%;font-weight: 700;margin-bottom: 10%;padding-top: 15%;text-align: center;}
    .iniciosesion-form{width: 85%;margin-left: 10%;}
    .form-iniciosesion{margin-top: 5%;margin-bottom: 3%;border-radius: 2.5px;}
    .form-iniciosesion-btn{width: 100%;padding: 3%;margin-top: 10%;}
    .form-iniciosesion-btn a{text-decoration: none;color: black;font-weight: 500;}
    .iniciosesion-container{width: 100%;display: flex;margin-top: 5%;padding-bottom: 15%;}
    .iniciosesion-form-izq{flex-flow: wrap;width: 50%;}
    .iniciosesion-form-izq p{color: white;margin-top: -0.5%;font-size: 90%;}
    .iniciosesion-form-der{width: 50%;text-align: end;}
    .iniciosesion-form-der a{text-decoration: none;color: white;font-size: 90%;}
    .iniciosesion-suscribirse{width: 100%;text-align: center;padding-bottom: 5%;}
    .iniciosesion-suscribirse h4{color: rgb(101, 101, 101);margin-top: -0.5%;font-size: 110%;}
    .iniciosesion-suscribirse a{text-decoration: none;color: white;font-size: 110%;}

}